<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
        <Property name="LOG_FILE">apiservice.log</Property>
        <Property name="LOG_PATTERN">apiservice-%d{-dd-MMMM-yyyy}-%i.log</Property>
	</Properties>
    
    <Appenders>
        <RollingFile name="ApiServiceLogger" fileName="${LOG_FILE}" filePattern="${LOG_PATTERN}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
		
    </Appenders>

    <Loggers>
		<Root level="info">
            <AppenderRef ref="ApiServiceLogger" />
	    </Root>
    </Loggers>

</Configuration>